.container {
  margin: 50px auto;
  background-color: #ddd;
  width: 280px;
  height: 150px;
  box-sizing: border-box;
  display: flex;
  border: 1px solid black;
  border-radius: 2px;
}

div.input {
  display: flex;
}
.inp {
  width: 80px;
  height: 20px;
  margin-top: 10px;
  margin-left: 10px;
}

#hasil {
  height: 40px;
  width: 50px;
  align-self: flex-end;
  margin-top: 10px;
  margin-left: 10px;
}
/* 
div.button {
  display: flex;
}

div.equals {
  display: flex;
} */

.btn {
  margin-left: 5px;
}

.equal,
.reset {
  width: 100px;
  margin-top: 5px;
  margin-left: 5px;
}
